@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    
.font{
    color: #202340;
    font-family: 'Roboto', sans-serif;
}

}
section{
    display: flex;
    justify-content: space-around;
    align-items:center;
    align-content: center;
}
.rewardimg{
    height: 17px;
}
label{
    display: block;
    font-size: .875rem;
    margin: 5px 0;
    
}
#submit-button{
    background-color: #414467;
    border: 1px solid #414467;
    color: #fff!important;
    width: 441px;
    height: 40px;
    border-radius: 50px;

}
#submit-button:hover{
    background-color: #202340;

}

#button{
    background-color: white;
    border: 1px solid #414467;
    color: #414467!important;
    width: 200px;
    height: 40px;
    border-radius: 50px;

}

#button:hover{
    background-color: #202340;
    border: 1px solid #414467;
    color: #fff!important;
    
    border-radius: 50px;
}
a{
    color: #202340;
}
a:hover{
    text-decoration: none;
    color: #00768f;
}
input:focus{
    border: 2px dashed  #202340;

}
input{
    outline: none;
    height: 40px;
    width: 300px;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1em;
}
button{
    font-size: 16px;
}
#footer-top{
    display: flex;
    height: 53px;
    font-size: 13px;
    align-items: center;
    background-color: #545871;
    color: #E3E3E8;
    justify-content: space-between;
    padding: 10px;
    border-bottom:1px solid #878cac;
    font-weight: 500;
}
.signup > form> input{
    width: 250px;     
    margin-left: 10px;
    height: 28px;
    border-radius: 3px;
    border: none;
    text-indent: 10px;
    outline: none;
    
}
.signup >form > input:focus{
    /* border: 2px dashed rgb(0, 0, 0); */
    outline: 2.23px dashed rgb(0, 0, 0);;
}
.signup >form > input::placeholder{
    font-style: italic;
}
.signup > form>button{
    background-color: #F0F1F7;
    position: relative;
    right: 5px;
    border: none;
    height: 28px;
    font-size: 12px;
    padding: 5px;
    border-radius: 0 3px 3px 0;
    font-weight: 600;
}
#left{
    display: flex;
    align-items: end;
}
#right{
    display: flex;
    align-items: end;
}
#footer-mid{
    background-color: #545871;
}
.links{
    color: #E3E3E8;
    display: flex;
    align-items: center;
    padding: 10px;
}
.links >a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 5px;
    
}
#copyLink >button{
    font-weight: 600;
    border-radius: 50px;
    font-size: 12px;
    height: 26px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    
}
#copyLink >button > img{
    width: 15px;
    
}
.links>a>svg{
    width: 15px;
}
#footerLinks > a:hover{
    color: #00768f;
}
#copyrightText{
    height: 17px;
    font-weight: 400;
    font-size: 13px;
}
#footerLinks > a{
    color: #202340;
    margin-right: 4px;
    font-size: 12px;
    font-weight: 550;
    
}
.footText{
    padding: 10px;
    border-bottom: 1px solid rgb(199, 196, 196);
    background-color: #f0f1f7;
}
#endTop{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f0f1f7;
}
#endTop > div>img{
    width: 75px;
}
#endTop > div>a>img{
    height: 75px;
}
.endBottom{
    display: flex;
    justify-content: center;
    background-color: #f0f1f7;
}
#digimg{
    width: 150px;
}
.end{
    position: absolute;
    bottom: 0;
    width: 100%;
}