@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.background_colour{
background-color: #F0F1F6;
font-family: 'Roboto', sans-serif;
} 
.top_blue_heading{
background-color: #202340;
width: 100%;
height: 30px;
}
.top_blue_heading_text{
  display: flex;
color: white;
width: 80%;
height: 30px;
justify-content: center;
align-items: center;
font-size: 16px;
margin-left: 145px;
text-align: center;
}
.top_blue_heading_text a{
  color: white;
font-size: 16px;
  text-decoration: none;
}
.Layer_main_image{
  background-color: #FFFFFF;
  height: 350px;
  margin-top: 110px;
}
.Layer_main_image img{
  margin-top: 30px;
}
.main_container{
  margin-left: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#Lumrie_stic{
  background-color: #FFFFFF;
  width: 360px;
  height: 420px;
  box-shadow: rgb(195, 195, 201) 0px 0px 5px 0px;
}
#Lumrie_stic_text{
  padding: 5px 10px;
  width: 350px;
  height: 50px;
font-size: 19.2px;
line-height: 20px;
text-align: start;
color: #202340;
}
#Lumrie_stic_image{
  width: 300px;
  height: 300px;
  margin-top: 15px;
  margin-left: 25px;
  padding: 5px;
}
#Lumrie_stic_last{
  margin-top: 15px;
  font-size: 14px;
  line-height: 14px;
  text-decoration: underline;
  text-align: start;
  width: 350px;
  height: 24px;
  padding: 5px 10px;
  cursor: pointer;
}
#Lumrie_stic_last:hover{
  color: #00768f;
}

#vift{
  background-color: #FFFFFF;
  width: 360px;
  height: 420px;
  box-shadow: rgb(195, 195, 201) 0px 0px 5px 0px;
}
#vift_image img{
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px;
  height: 340px;
  width: 340px;
}

#featured_stores{
  background-color: #FFFFFF;
  width: 360px;
  height: 420px;
  box-shadow: rgb(195, 195, 201) 0px 0px 5px 0px;
}
#featured_stores_text{
  padding: 5px 10px;
  margin-top: 5px;
  width: 350px;
  height: 50px;
font-size: 19.2px;
line-height: 20px;
text-align: start;
}
.img-thumbnail{
  background-color: #F0F1F7;
  text-align: center;
  border-radius: 0;
}
#macy{
  margin-top: 10px;
  width: 301px;
  margin-left: 30px;
}
#macy img{
padding: 5px 10px;
}
#gift_card{
  margin-top: 10px;
  width: 301px;
  margin-left: 30px;
}
#gift_card img{
  padding: 5px 10px;
}
#jcpenny{
  margin-top: 10px;
  width: 301px;
  margin-left: 30px;
}
#jcpenny img{
  padding: 5px 10px;
}
#qvc{
  margin-top: 10px;
  width: 301px;
  margin-left: 30px;
}
#qvc img{
  padding: 5px 10px;
}

#featured_stores_last{
  text-decoration: underline;
  margin-top:82px;
  font-size: 14px;
  line-height: 14px;
  text-align: start;
  width: 350px;
  height: 24px;
  padding: 5px 10px;
  cursor: pointer;
}
#featured_stores_last:hover{
  color: #00768f;
}

#free_shipping{
  background-color: #FFFFFF;
  width: 360px;
  height: 420px;
  box-shadow: rgb(195, 195, 201) 0px 0px 5px 0px;
  margin-right: 15px;
}
#free_shipping_text{
  padding: 5px 10px;
  width: 350px;
  height: 50px;
font-size: 19.2px;
line-height: 20px;
text-align: start;
color: #202340;
}
#free_shipping_image{
  width: 300px;
  height: 300px;
  margin-top: 15px;
  margin-left: 25px;
  padding: 5px;
}
#free_shipping_last{
  margin-top: 15px;
  font-size: 14px;
  line-height: 14px;
  text-decoration: underline;
  text-align: start;
  width: 350px;
  height: 24px;
  padding: 5px 10px;
  cursor: pointer;
}
#free_shipping_last:hover{
  color: #00768f;
}
.whole_brand_container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.hot_toys_part{
  width: 426px;
  height: 590px;
  background-color: #FFFFFF;
}
.hot_toys_part img{
  width: 400px;
  margin-top: 93px;
  margin-left: 11px;
}
.popular_brands{
  width: 1082px;
  height: 590px;
  background-color: #FFFFFF;
}
#popular_brands_text{
  color: #2e2c38;
  width: 1053px;
  height: 28px;
  font-size: 28px;
  padding: 10px;
  margin-top: 10px;
  line-height: 28px;
  text-align: center;
}

























/* Footer Part  */
#footer-top{
  display: flex;
  height: 53px;
  font-size: 13px;
  align-items: center;
  background-color: #545871;
  color: #E3E3E8;
  justify-content: space-between;
  padding: 10px;
  border-bottom:1px solid #878cac;
  font-weight: 500;
}
.signup > form> input{
  width: 250px;     
  margin-left: 10px;
  height: 28px;
  border-radius: 3px;
  border: none;
  text-indent: 10px;
  outline: none;
  
}
.signup >form > input:focus{
  /* border: 2px dashed rgb(0, 0, 0); */
  outline: 2.23px dashed rgb(0, 0, 0);;
}
.signup >form > input::placeholder{
  font-style: italic;
}
.signup > form>button{
  background-color: #F0F1F7;
  position: relative;
  right: 5px;
  border: none;
  height: 28px;
  font-size: 13px;
  padding: 5px;
  border-radius: 0 3px 3px 0;
  font-weight: 600;
}
.left{
  display: flex;
  align-items: end;
}
.right{
  display: flex;
  align-items: end;
}
#footer-mid{
  background-color: #545871;
}
.links{
  color: #E3E3E8;
  display: flex;
  align-items: center;
  padding: 10px;
}
.links >a{
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin: 5px;
  
}
#copy-link-button{
  font-weight: 600;
  border-radius: 50px;
  font-size: 12px;
  height: 26px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  
}
#copyLink >button > img{
  width: 15px;
  
}
.links>a>svg{
  width: 15px;
}
#footerLinks > a:hover{
  color: #00768f;
}
#copyrightText{
  height: 17px;
  font-weight: 400;
  font-size: 13px;
}
#footerLinks > a{
  color: #202340;
  margin-right: 4px;
  font-size: 12px;
  font-weight: 550;
  
}
.footText{
  padding: 10px;
  border-bottom: 1px solid rgb(199, 196, 196);
  background-color: #f0f1f7;
}
#endTop{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f0f1f7;
}
#endTop > div>img{
  width: 75px;
}
#endTop > div>a>img{
  height: 75px;
}
.endBottom{
  display: flex;
  justify-content: center;
  background-color: #f0f1f7;
}
#digimg{
  width: 150px;
}
.footer{
  margin-top: 100px;
}
.footer-top-text{
  font-size: 13px;
}
h5{
  margin: 0;
}
.footer-svg{
  color: #202340;
}
#nike{
  width:200px ;
  height:112px ;
  
}