@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    /* position: fixed; */
    display: flex;
    padding: 10px 20px 17px 20px;
    /* margin-top: 30px; */
    background-color: #f0f1f7;
    justify-content: space-between;
    width: 100vw;

}

/* left side  */

#left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}

#logo,#tag{
    display: flex;
    width: 290px;
    justify-content: space-around;
    align-items: center;
}

#logo-img>a>svg{
    width: 230px;
    height: auto;
}
#three-lines{
    width: 45px;
    height: 45px;
    padding: 5px;
    background-color: #098aa7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#three-lines>svg{
    /* filter: invert(1); */
    width: 30px;
    height: auto;
}
#tag{
    margin-top: 18px;
}
#tag>p{
    font-size: 14px;
}
#tag>p>span{
    /* width: 120px; */
    padding: 8px 5px;
    /* height: 70px; */
    background-color: #1e5c6a;
    border-radius: 25px;
    
}

#tag>p>span>a{
    color: white;
    text-decoration: underline;
}

/* right side  */

#right{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 150px;
    row-gap: 20px;
}

#search-bar{
    width: 100%;
    height: 45px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    border-radius: 25px;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0px 10px;

}
a{
    font-size: 14px;
}


#dropdown{
    align-items: center;
}
.dropbtn{
    display: flex;
    background-color: transparent;
    width: 140px;
    height: 45px;
    justify-content: space-between;
    border: none;
    /* padding: 1px; */
    border-right: 1px solid black;
    align-items: center;
    cursor: pointer;

}
#sel-text{
    font-size: 14px;
    margin-top: 14px;
}
.dropbtn>svg{
    /* filter: invert(1); */
}
.dropdown-content{
    position: absolute;
    display: none;
    list-style: none;
    padding: 10px 5px 0px 5px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 5px;
    width: 250px;
    background-color: white;
    box-shadow: 0px 0px 10px  rgb(219, 219, 219);
    height: 300px;
    overflow-y: scroll;
}
.dropdown-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.dropdown-content::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.dropdown-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4b4f65;
}
#myDropdown>li{
    /* width: 200px; */
    text-align: center;
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 5px;
}
#myDropdown>li>a{
    text-decoration: none;
    width: 100%;
    color: black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 5px 5px 0px 5px;
    
    /* background-color: #202340; */
    
}
#myDropdown>li>a:hover{
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: #202340;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 5px 5px 0px 5px;
    
}
.tick{
    height: 20px;
    width: auto;
    display: none;
}
.show{
    display: block;
}


#search{
    width: 430px;
    height: 28px;
    font-size: 16px;
    border: none;
    padding-left: 20px;
    font-style: italic;
    color: grey;
}

#links{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#links>a{
    text-decoration: none;
    color: #202340;
    font-size: 14px;
}
#links>a:hover{
    color: #00768f;
}
#menu{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sign,#order,#cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.logo~a{
    padding-left: 5px;
    margin-top: -4px;
    text-decoration: none;
    color: #202340;

}
.logo~a:hover{
    color: #00768f;
    padding-left: 5px;
    margin-top: -4px;

}
#search:focus {
    outline-width: 0px;
}
input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}